<center>This is a temporary place holder web page that will be here until a better one can be built.<br><br>

To connect to the server, go to the in-game console and type "connect ajama001.homedns.org:27015".<br><br>

Please follow the MotD rules.  This is vital toward the development of the server and the community.  Thanks!<br><br>

--The Admins<br><br><br><Br>

Events:
<img src="http://img228.imageshack.us/img228/1364/counterstrikesourcefirsiw9.png">
