<head>
    <title>Official AJAMA/Tech CS:S Server</title>
</head>
<body style="color: red" bgcolor="#000000">
    <font color="#FFFFFF" style="font-family: Arial Black;font-size: 30pt">
		<center>
		<u>ATTENTION</u><br>
        OFFICIAL VT WEST AJ SERVER RULES
		
	</font>
	
	
	<table width=750 border=0>
		<tr>
			<td align=left valign=top>
			<font color="#33FF00">
	To play on this server, you must follow these rules for naming!&nbsp;
    You may be kicked if you do not!&nbsp;
    <br /><br />

		NAMES MUST BE IN THE FOLLOWING FORMAT:
		<blockquote>
			<font color="#FFFF00">
		&lt;USERNAME&gt; (&lt;HALL CODE&gt;&lt;ROOM NUMBER&gt;)
			</font>
		</blockquote>

		EXAMPLES:<br />
		<blockquote>
			<font color="#FFFF00">
			Someone2die (WAJ7074)<br />
			Philibuster (SLU1343)
			</font>
		</blockquote>
		
    Off campus players:<br />
		<blockquote>
			<font color="#FFFF00">
			Galactor (NonVT)
			</font>
		</blockquote>
    <br />
			</font>
		</td>
		<td>
	

	<table border=1>
		<tr>
			<th colspan=2>
			HALL CODES
			</th>
		</tr>
		<tr>
			<td>East/West AJ</td>
			<td>EAJ/WAJ</td>
		</tr>
		<tr>
			<td>Barringer</td>
			<td>BAR</td>
		</tr>
		<tr>
			<td>Brodie</td>
			<td>BRD</td>
		</tr>
		<tr>
			<td>East/Main Campbell</td>
			<td>ECB/MCB</td>
		</tr>
		<tr>
			<td>Cochrane</td>
			<td>COC</td>
		</tr>
		<tr>
			<td>Main/West Eggleston</td>
			<td>MEG/WEG</td>
		</tr>
		<tr>
			<td>Harper</td>
			<td>HAR</td>
		</tr>
		<tr>
			<td>Hillcrest</td>
			<td>HIL</td>
		</tr>
		<tr>
			<td>Johnson</td>
			<td>JON</td>
		</tr>
		<tr>
			<td>Lee</td>
			<td>LEE</td>
		</tr>
		<tr>
			<td>Miles</td>
			<td>MIL</td>
		</tr>
		<tr>
			<td>Monteith</td>
			<td>MOT</td>
		</tr>
		<tr>
			<td>Newman</td>
			<td>NEW</td>
		</tr>
		<tr>
			<td>O'Shaughnessy</td>
			<td>OSY</td>
		</tr>
		<tr>
			<td>Payne</td>
			<td>PAY</td>
		</tr>
		<tr>
			<td>Peddrew - Yates</td>
			<td>PDY</td>
		</tr>
		<tr>
			<td>East/West Pritchard</td>
			<td>EPR/WPR</td>
		</tr>
		<tr>
			<td>Rasche</td>
			<td>RAS</td>
		</tr>
		<tr>
			<td>Thomas</td>
			<td>TOM</td>
		</tr>
		<tr>
			<td>Vawter</td>
			<td>VAW</td>
		</tr>
		<tr>
			<td colspan=2><hr></td>
		</tr>
		<tr>
			<td>Fraternity</td>
			<td>FRAT</td>
		</tr>
		<tr>
			<td>Sorority</td>
			<td>SORO</td>
		</tr>

	</table>
			</td>
		</tr>
	</table>
	</center>
</body>
</html>
